:root {
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: #008b8b;
  color: #fff;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}

input {
  caret-color: #008b8b;
}
